# editors
*.swp
*~

# build
/base
/.vscode
/.venv
/vendor
/test

# Dot files are not necessary, unless forced
# Especially on MacOS..
.*
# But not Github's config!
!.github

# Test builds
/_*
/zigbee_*

# Test configurations
zigbee_*.yaml
# Test build environment (for now)
compose.yml